<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="shortcut icon" type="image/png" href="<%= htmlWebpackPlugin.options.base_url %>static/favicon.png" />
  </head>
  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>

<script src="https://www.gstatic.com/firebasejs/5.3.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyCRq5Az45_3-AAwz0WSwGAnrK31JKcx4sQ",
    authDomain: "explorer-b6131.firebaseapp.com",
    databaseURL: "https://explorer-b6131.firebaseio.com",
    projectId: "explorer-b6131",
    storageBucket: "",
    messagingSenderId: "189453817303"
  };
  firebase.initializeApp(config);
</script>
